@font-face {
    font-family: 'imperfecta_regularregular';
    src: url('imperfecta_regular-webfont.woff2') format('woff2'),
        url('imperfecta_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'WebFont', 'imperfecta_regularregular', Share Tech Mono, sans-serif;
    color: white;
    letter-spacing: 2px;
    background-image: url('images/estudioone1.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
    background-position: center center;


}

.lightwidget-widget {
    background-color: rgba(211, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #AF0603;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.centro {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-justify: 100%;
    margin-bottom: 0;
}

p {
    line-height: 30px;
    font-size: x-large;
}

#ig {
    margin: 1%;
    display: flex;
    align-items: center;
    width: 80%;
}

.social {
    margin: 5px;
}

.ico {
    width: 80px;
    transition: all 0.20s linear 0s;
    margin: 10px;

    &:hover{
        
        transform: scale(120%);
}   
    } 

@media screen and (min-width: 601px) {
    h1 {
        font-size: 2em;
    }

}


@media screen and (max-width: 760px) {

    .container {
        width: auto;

    }

    h1 {
        font-size: 1.6em;
    }

    p {
        font-size: 1.2em;

    }

    .logo {
        width: 45%;
    }

}

a {
    text-decoration: none;
}

html {
    background-color: black;
}

h1, p{
    cursor: default;
}

.ico {
    margin: 6px;
    width: 45px;
}